@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: #fff;
  /* background: #eab308; */
  background: #c026d3;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --scaling: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --scaling: 1;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom, rgb(var(--background-end-rgb)), rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}







@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tagCloud {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tagLink {
  border-radius: 4px;
  border: 1px solid #333;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tagLink:hover{
  border-color: #fff;
  background-color: #232042;
  transition: all ease-in-out 200ms;
}




.growth-value {
  display: flex;
  align-items: center;
}

.section-projects {
  display: flex;  /* Make the container a flexbox */
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */ 
}

.mobile-menu{
  --tw-bg-opacity: 1;
  background-color: rgba(17, 17, 17, 0.3);
  background-image: linear-gradient(180deg, #000 15%, transparent);
}

.tagCloud a {
  padding: 2px 8px;
  border: 1px solid #212121;
  border-radius: 2px;
  font-size: 12px;
}


/* Pedro */

.home-text {
  --delay: 0;
  letter-spacing: -.01em;
  filter: blur(0px);
  animation: show .6s both;
  animation-delay: calc(.16s * var(--delay));
  will-change: opacity;
  line-height: 3rem !important;
}

.reveal-trigger {
  background: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}



.reveal-trigger:hover {
  cursor: help;
  background: orange;
  border-color: orange;
}
.reveal-trigger:hover +.reveal-content[data-state=open] {
  color: orange;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(10px); }
}



.reveal-content[data-state=closed] {
  filter: blur(2px);
  opacity: .8;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
}

.reveal-content[data-state=open] {
  animation: reveal .6s both;
}





.svgcontainer:hover .circle {
  animation: opacity-appear 1s ease-in-out forwards;
}

@keyframes opacity-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toc-container {
  overflow: hidden;
}

.toc-list {
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
}

.toc-list.expanded {
  max-height: 500px;
  opacity: 1;
}

.toc-list.collapsed {
  max-height: 0;
  opacity: 0;
}
